.ClientContainer{
    opacity: 0;
    visibility: hidden;

    .buttons{
        display:none;
    }

    &.show{
        opacity: 1;
        visibility: visible;
        .buttons{
            display: block;
            position: absolute;
            z-index:1050;
            top: 12px;
            left:12px;
        }
    }

    #client-container {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        background-color: #000;
        z-index: 1040;
        border: 0;
    }
}